*{
  -webkit-transition-duration: .3s;
}
body{
  color:#FFFFFF;
  background:#1b1b2b;
  padding:80px;
  font-family: 'Oswald';
}
.btn{
  color:#FFFFFF;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 10px;
  font-size:16px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  color:#000000;
  background:#fff;
  padding:15px 15px;
}

h1{
  padding:20px; 
}
		

a{
  text-decoration:none;
  color:red;
}

img{
  border-radius: 4px;
  padding: 20px;	
}
